body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#333;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#555;
text-align:center;
padding:10px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-size:18px;
}

nav a:hover{
color:yellow;
}

section{
padding:30px;
text-align:center;
}

.product{
background:white;
margin:20px auto;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

footer{
background:#333;
color:white;
text-align:center;
padding:10px;
}